

<aside id="sidebar" class="sidebar">
    <form id="sidebar-filter-form" method="get" action="{{ path('app_aircraft_filter') }}">
        <input type="hidden" name="aircraftCategories" id="hiddenAircraftCategories" value="">
        <input type="hidden" name="aircraftManufacturers" id="hiddenAircraftManufacturers" value="">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item text-center my-3">
                <button style="background-color:var(--primary-color)" type="button"
                        class="btn w-100 d-flex text-white align-items-center justify-content-center gap-2 py-2 shadow-sm"
                        onclick="submitSidebarFilter();">
                    <i class="bi bi-funnel-fill fs-5"></i>
                    <span class="fw-semibold">{{ 'sidebar.apply_filters'|trans }}</span>
                </button>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-bs-toggle="modal" data-bs-target="#categoryFilterModal">
                    <i class="bi bi-tags"></i><span>{{ 'sidebar.categories'|trans }}</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-bs-toggle="modal" data-bs-target="#manufacturerFilterModal">
                    <i class="bi bi-building"></i><span>{{ 'sidebar.manufacturer'|trans }}</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#year-built-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-calendar3"></i><span>{{ 'sidebar.year_built'|trans }}</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="year-built-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a>
                            <div class="form-floating col-12">
                                <select class="form-select form-select-sm" id="sidebarMinYear" name="aircraft_min_year" aria-label="{{ 'sidebar.min_year'|trans }}">
                                    <option selected disabled>{{ 'sidebar.min_year'|trans }}</option>
                                    {% set currentYear = "now"|date("Y") %}
                                    {% for year in 1950..currentYear %}
                                        <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                </select>
                                <label for="sidebarMinYear" class="text-muted fw-normal">{{ 'sidebar.min_year'|trans }}</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="form-floating col-12">
                                <select class="form-select form-select-sm" id="sidebarMaxYear" name="aircraft_max_year" aria-label="{{ 'sidebar.max_year'|trans }}">
                                    <option selected disabled>{{ 'sidebar.max_year'|trans }}</option>
                                    {% set currentYear = "now"|date("Y") %}
                                    {% for year in 1950..currentYear %}
                                        <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                </select>
                                <label for="sidebarMaxYear" class="text-muted fw-normal">{{ 'sidebar.max_year'|trans }}</label>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#price-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-cash-coin"></i><span>{{ 'sidebar.price'|trans }}</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="price-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a>
                            <div class="form-floating col-12">
                                <input type="number" class="form-control form-control-sm" id="sidebarMinPrice" name="aircraft_min_price" placeholder="{{ 'sidebar.min_price'|trans }}" min="0">
                                <label for="sidebarMinPrice" class="text-muted fw-normal">{{ 'sidebar.min_price'|trans }}</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="form-floating col-12">
                                <input type="number" class="form-control form-control-sm" id="sidebarMaxPrice" name="aircraft_max_price" placeholder="{{ 'sidebar.max_price'|trans }}" min="0">
                                <label for="sidebarMaxPrice" class="text-muted fw-normal">{{ 'sidebar.max_price'|trans }}</label>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#hours-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-clock-history"></i><span>{{ 'sidebar.total_hours'|trans }}</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="hours-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a>
                            <div class="form-floating col-12">
                                <input type="number" class="form-control form-control-sm" id="sidebarMinHour" name="aircraft_min_hour" placeholder="{{ 'sidebar.min_hour'|trans }}" min="0">
                                <label for="sidebarMinHour" class="text-muted fw-normal">{{ 'sidebar.min_hour'|trans }}</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="form-floating col-12">
                                <input type="number" class="form-control form-control-sm" id="sidebarMaxHour" name="aircraft_max_hour" placeholder="{{ 'sidebar.max_hour'|trans }}" min="0">
                                <label for="sidebarMaxHour" class="text-muted fw-normal">{{ 'sidebar.max_hour'|trans }}</label>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#date-published-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-calendar3"></i><span>{{ 'sidebar.published_date'|trans }}</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="date-published-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a>
                            <div class="form-floating col-12">
                                <input type="date" class="form-control form-control-sm" id="sidebarMinDate" name="aircraft_min_date" placeholder="{{ 'sidebar.min_publish_date'|trans }}">
                                <label for="sidebarMinDate" class="text-muted fw-normal">{{ 'sidebar.min_publish_date'|trans }}</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="form-floating col-12">
                                <input type="date" class="form-control form-control-sm" id="sidebarMaxDate" name="aircraft_max_date" placeholder="{{ 'sidebar.max_publish_date'|trans }}">
                                <label for="sidebarMaxDate" class="text-muted fw-normal">{{ 'sidebar.max_publish_date'|trans }}</label>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#status-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-clipboard-check"></i><span>{{ 'sidebar.status'|trans }}</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="status-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="utilise" id="statusUsed" name="aircraft_status[]">
                                <label class="form-check-label" for="statusUsed">
                                    {{ 'sidebar.used'|trans }}
                                </label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="neuf" id="statusNew" name="aircraft_status[]">
                                <label class="form-check-label" for="statusNew">
                                    {{ 'sidebar.new'|trans }}
                                </label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="occasion" id="statusUsedCondition" name="aircraft_status[]">
                                <label class="form-check-label" for="statusUsedCondition">
                                    {{ 'sidebar.second_hand'|trans }}
                                </label>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item text-center my-3">
                <button style="background-color:var(--primary-color)" type="button"
                        class="btn w-100 d-flex text-white align-items-center justify-content-center gap-2 py-2 shadow-sm"
                        onclick="submitSidebarFilter();">
                    <i class="bi bi-funnel-fill fs-5"></i>
                    <span class="fw-semibold">{{ 'sidebar.apply_filters'|trans }}</span>
                </button>
            </li>
        </ul>
    </form>
</aside>



<script>
    // Met à jour les catégories sélectionnées
    function submitSidebarFilter(){

        updateSelection('category-form-check-input', 'hiddenAircraftCategories')
        updateSelection('manufacturer-form-check-input', 'hiddenAircraftManufacturers')

        const filterForm = document.querySelector('#sidebar-filter-form');

        filterForm.submit();


    }


    function updateSelection(checkboxClass, hiddenInputId) {
        const selectedValues = Array.from(document.querySelectorAll(`.${checkboxClass}:checked`))
            .map(checkbox => checkbox.value);

        const hiddenInput = document.getElementById(hiddenInputId);
        if (hiddenInput) {
            hiddenInput.value = selectedValues.join(',');
            console.log(hiddenInput.value);
        } else {
            console.warn(`Element with ID "${hiddenInputId}" not found.`);
        }
    }

</script>