

{% extends 'base.html.twig' %}
{% block header %}
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a href="{{ path('app_home') }}" class="logo d-flex align-items-center">
                <img src="" alt="">
                <span class="d-none d-lg-block">{{ 'site.logo_text'|trans }}</span>
            </a>
            {% block sidebarIcon %}
                <i class="bi bi-list toggle-sidebar-btn d-block d-lg-none"></i>
            {% endblock sidebarIcon %}
        </div>

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item dropdown px-3 d-flex align-items-center">
                    {% if app.request.locale == "en" %}
                        <span class="flag-icon flag-icon-gb me-2"></span>
                    {% else %}
                        <span class="flag-icon flag-icon-{{ app.request.locale }} me-2"></span>
                    {% endif %}

                    <form method="get" action="{{ path('change-locale') }}">
                        <select name="_locale" onchange="this.form.submit()" class="form-select form-select-sm">
                            {% for code, lang in available_languages.getAvailableLanguages() %}
                                <option value="{{ code }}" {% if code == app.request.locale %}selected{% endif %}>
                                    {{ lang.label }}
                                </option>
                            {% endfor %}
                        </select>
                        {% for key, value in app.request.query.all() %}
                            {% if key != '_locale' %}
                                {% if value is iterable %}
                                    {% for v in value %}
                                        <input type="hidden" name="{{ key }}[]" value="{{ v }}">
                                    {% endfor %}
                                {% else %}
                                    <input type="hidden" name="{{ key }}" value="{{ value }}">
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </form>
                </li>

                <li class="nav-item dropdown pe-3">
                    <a class="nav-link btn py-1" href="{{ path('app_login') }}" style="border: 1px solid #1A0B8C !important; color : #1A0B8C !important;">
                        <i class="bi bi-box-arrow-in-right me-1"></i> {{ 'login.button'|trans }}
                    </a>
                </li>
            </ul>
        </nav>
    </header>
{% endblock %}

{% block sidebar %}{% endblock %}

{% block main %}
    <main>
        <div class="container" style="margin-top: 30px;">
            <section class="section register d-flex flex-column justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-9 d-flex flex-column justify-content-center">

                            <div class="py-5">
                            <span class="p-2 btn" style="background-color : #1A0B8C; color :white">
                                {{ 'register.welcome_text'|trans }}
                            </span>
                            </div>

                            <div class="card mb-3">
                                <div class="card-body mt-4">
                                    {% for flash_error in app.flashes('verify_email_error') %}
                                        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                                    {% endfor %}

                                    {{ form_errors(registrationForm) }}
                                    {{ form_start(registrationForm) }}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="form-floating mb-3">
                                                    {{ form_widget(registrationForm.pseudo, {'attr': {'class': 'form-control'}}) }}
                                                    <label for="registration_form_pseudo">{{ 'register.pseudo'|trans }}</label>
                                                </div>
                                                {{ form_errors(registrationForm.pseudo) }}
                                            </div>
                                            <div class="form-group">
                                                <div class="form-floating mb-3">
                                                    {{ form_widget(registrationForm.firstname, {'attr': {'class': 'form-control'}}) }}
                                                    <label for="registration_form_firstname">{{ 'register.name'|trans }}</label>
                                                </div>
                                                {{ form_errors(registrationForm.firstname) }}
                                            </div>
                                            <div class="form-group">
                                                <div class="form-floating mb-3">
                                                    {{ form_widget(registrationForm.telephone, {'attr': {'class': 'form-control'}}) }}
                                                    <label for="registration_form_telephone">{{ 'register.phone'|trans }}</label>
                                                </div>
                                                {{ form_errors(registrationForm.telephone) }}
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="form-floating mb-3">
                                                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                                                    <label for="registration_form_email">{{ 'register.email'|trans }}</label>
                                                </div>
                                                {{ form_errors(registrationForm.email) }}
                                            </div>
                                            <div class="form-group">
                                                <div class="form-floating mb-3">
                                                    {{ form_widget(registrationForm.country, {'attr': {'class': 'form-select'}}) }}
                                                    <label for="registration_form_country">{{ 'register.country'|trans }}</label>
                                                </div>
                                                {{ form_errors(registrationForm.country) }}
                                            </div>
                                            <div class="form-group">
                                                <div class="form-floating mb-3">
                                                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                                                    <label for="registration_form_plainPassword">{{ 'register.password'|trans }}</label>
                                                </div>
                                                {{ form_errors(registrationForm.plainPassword) }}
                                            </div>
                                        </div>
                                    </div>

                                    <hr>
                                    <div class="form-check">
                                        {{ form_widget(registrationForm.acceptTerms, {'attr': {'class': 'form-check-input'}}) }}
                                        <label class="form-check-label" for="registration_form_acceptTerms">
                                            <small>{{ 'register.terms'|trans }}</small>
                                        </label>
                                    </div>

                                    <hr>
                                    <div class="form-check">
                                        {{ form_widget(registrationForm.acceptNewsletter, {'attr': {'class': 'form-check-input'}}) }}
                                        <label class="form-check-label" for="registration_form_acceptNewsletter">
                                            <small>{{ 'register.newsletter'|trans }}</small>
                                        </label>
                                    </div>

                                    <hr>
                                    <div class="form-check">
                                        {{ form_widget(registrationForm.acceptBrokerageContact, {'attr': {'class': 'form-check-input'}}) }}
                                        <label class="form-check-label" for="registration_form_acceptBrokerageContact">
                                            <small>{{ 'register.broker_contact'|trans }}</small>
                                        </label>
                                    </div>

                                    <hr>
                                    <button class="btn flex text-white border-0" type="submit" style="background-color: #1A0B8C;">
                                        {{ 'register.submit'|trans }}
                                    </button>

                                    {{ form_end(registrationForm) }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}


{% block footer %}
{% endblock %}
