{% extends 'backend/admin/user_profile/users-profile.html.twig' %}

{% block ads_details %}
    <li class="nav-item bx-border-circle">
        <a class="nav-link collapsed bg-primary text-white" href="{{ path('user_profile',{'id':user.id, 'page':'details'}) }}">
            <i class="bi bi-person-circle text-white"></i><span>{{ 'user.profile.account_details'|trans }}</span>
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="card-body pt-3">
        <!-- Bordered Tabs -->
        <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab">{{ 'user.profile.details_tab'|trans }}</button>
            </li>
        </ul>

        <div class="tab-content pt-2">
            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <h5 class="card-title">{{ 'user.profile.my_info'|trans }}</h5>
                <div class="card-body mt-4">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group mb-4">
                                <div class="form-control-static">
                                    <strong>{{ 'user.profile.pseudo'|trans }} :</strong>
                                    <p class="mb-0">{{ user.pseudo }}</p>
                                </div>
                            </div>

                            <div class="form-group mb-4">
                                <div class="form-control-static">
                                    <strong>{{ 'user.profile.firstname'|trans }} :</strong>
                                    <p class="mb-0">{{ user.firstname }}</p>
                                </div>
                            </div>

                            <div class="form-group mb-4">
                                <div class="form-control-static">
                                    <strong>{{ 'user.profile.telephone'|trans }} :</strong>
                                    <p class="mb-0">{{ user.telephone }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mb-4">
                                <div class="form-control-static">
                                    <strong>{{ 'user.profile.email'|trans }} :</strong>
                                    <p class="mb-0">{{ user.email }}</p>
                                </div>
                            </div>

                            <div class="form-group mb-4">
                                <div class="form-control-static">
                                    <strong>{{ 'user.profile.country'|trans }} :</strong>
                                    <p class="mb-0">{{ user.country }}</p>
                                </div>
                            </div>

                            <div class="form-group mb-4">
                                <div class="form-control-static">
                                    <strong>{{ 'user.profile.created_at'|trans }} :</strong>
                                    <p class="mb-0">{{ user.createAt | date('d/m/Y H:i') }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="form-check">
                        <input type="checkbox"
                               class="form-check-input rounded-checkbox"
                               id="acceptTerms"
                               name="acceptTerms"
                                {{ user.acceptTerms ? 'checked' : '' }}
                               disabled
                               aria-disabled="true"
                        >
                        <label class="form-check-label" for="acceptTerms">
                            <small>{{ 'user.profile.accept_terms_text'|trans }}</small>
                        </label>
                    </div>

                    <hr>

                    <div class="form-check">
                        <input type="checkbox"
                               class="form-check-input rounded-checkbox"
                               id="acceptNewsletter"
                               name="acceptNewsletter"
                                {{ user.acceptNewsletter ? 'checked' : '' }}
                               disabled
                               aria-disabled="true"
                        >
                        <label class="form-check-label" for="acceptNewsletter">
                            <small>{{ 'user.profile.accept_newsletter_text'|trans }}</small>
                        </label>
                    </div>

                    <hr>

                    <div class="form-check">
                        <input type="checkbox"
                               class="form-check-input rounded-checkbox"
                               id="acceptBrokerageContact"
                               name="acceptBrokerageContact"
                                {{ user.acceptBrokerageContact ? 'checked' : '' }}
                               disabled
                               aria-disabled="true"
                        >
                        <label class="form-check-label" for="acceptBrokerageContact">
                            <small>{{ 'user.profile.accept_brokerage_contact_text'|trans }}</small>
                        </label>
                    </div>

                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
