{% extends 'base.html.twig' %}

{% block title %}{{ 'aircraft_category.edit.title'|trans }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>{{ 'aircraft_category.edit.header'|trans }}</h1>

        {{ include('air_craft_category/_form.html.twig', { 'button_label': 'form.update'|trans }) }}

        <a href="{{ path('app_air_craft_category_index') }}" class="btn btn-outline-secondary mt-3">
            {{ 'aircraft_category.back_to_list'|trans }}
        </a>

        {{ include('air_craft_category/_delete_form.html.twig') }}
    </div>
{% endblock %}

