{% extends 'base.html.twig' %}

{% block title %}AirCraftCategory{% endblock %}

{% block body %}
    <h1>AirCraftCategory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ air_craft_category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ air_craft_category.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_air_craft_category_index') }}">back to list</a>

    <a href="{{ path('app_air_craft_category_edit', {'id': air_craft_category.id}) }}">edit</a>

    {{ include('air_craft_category/_delete_form.html.twig') }}
{% endblock %}
