
{% extends 'base.html.twig' %}
{% block header %}
    {% include 'composant/login-register-nav-bar.html.twig' %}
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block main %}
    <main>
        <div class="container">

            <section class="section register d-flex flex-column justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-md-6 d-flex flex-column justify-content-center">

                            <div class="d-flex justify-content-center py-4">
                            </div><!-- End Logo -->

                            <div class="d-flex justify-content-center py-2">
                                <h3>{{ 'app.thank_you'|trans }}</h3>
                            </div>

                            <div class="card mb-3">

                                <div class="card-body p-4">
                                    <p>
                                        <small>
                                            {{ 'reset.password.email_sent_notice'|trans({
                                                '%expiration%': resetToken.expirationMessageKey|trans(
                                                    resetToken.expirationMessageData,
                                                    'ResetPasswordBundle'
                                                )
                                            }) }}
                                        </small>
                                    </p>
                                    <hr>
                                    <small>
                                        {{ 'reset.password.no_email'|trans({
                                            '%retry_url%': path('app_forgot_password_request')
                                        })|raw }}
                                    </small>

                                    <div class="row gap-2 mt-4">
                                        <a href="{{ path('app_login') }}" class="btn text-white w-100 border-0" style="background-color: #1A0B8C;">
                                            {{ 'reset.password.back_to_login'|trans }}
                                        </a>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </section>

        </div>
    </main><!-- End #main -->
{% endblock %}

{% block footer %}
{% endblock %}