

<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_admin') }}">
                <i class="bi bi-funnel"></i>
                <span>{{ 'sidebar.dashboard'|trans }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_air_craft_category_index') }}">
                <i class="bi bi-tags"></i><span>{{ 'sidebar.categories'|trans }}</span><i class="bi bi-chevron-contract ms-auto"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_aircraft_manufacturer_index') }}">
                <i class="bi bi-building-gear"></i><span>{{ 'sidebar.manufacturer'|trans }}</span><i class="bi bi-chevron-contract ms-auto"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('admin_aircraft', {'filter': 'blocked'}) }}">
                <i class="bi bi-eye-slash"></i> <span>{{ 'sidebar.hidden_ads'|trans }}</span><i class="bi bi-chevron-contract ms-auto"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('admin_aircraft', {'filter': 'reported'}) }}">
                <i class="bi bi-flag-fill text-danger"></i> <span>{{ 'sidebar.reported_ads'|trans }}</span><i class="bi bi-chevron-contract ms-auto"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_user_admin_index') }}">
                <i class="bi bi-shield-lock"></i><span>{{ 'sidebar.admin'|trans }}</span><i class="bi bi-chevron-contract ms-auto"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_user_index_verify') }}">
                <i class="bi bi-people"></i><span>{{ 'sidebar.verified_users'|trans }}</span><i class="bi bi-chevron-contract ms-auto"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_user_index_non_verify') }}">
                <i class="bi bi-people"></i><span>{{ 'sidebar.non_verified_users'|trans }}</span><i class="bi bi-chevron-contract ms-auto"></i>
            </a>
        </li>
        <li class="nav-heading">Section Blog</li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_article_index') }}">
                <i class="bi bi-newspaper"></i><span>Article</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_article_category_index') }}">
                <i class="bi bi-folder2-open"></i><span>Categorie Article</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-tags"></i><span>Blog Tags</span>
            </a>
        </li>

    </ul>


</aside>
