{% extends 'base.html.twig' %}

{% block title %}NewLetter{% endblock %}

{% block body %}
    <h1>NewLetter</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ new_letter.id }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ new_letter.mail }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_new_letter_index') }}">back to list</a>

    <a href="{{ path('app_new_letter_edit', {'id': new_letter.id}) }}">edit</a>

    {{ include('new_letter/_delete_form.html.twig') }}
{% endblock %}
