{{ form_start(form) }}

<div class="row">
    <fieldset class="border p-3 mb-3">
        <legend class="w-auto text-primary"><small>{{ 'aircraftForm.general_information'|trans({}, 'aircraft') }}</small></legend>
        <div class="row">
            <div class="my-3 col-md-12">
                <div class="col-12">
                    <label for="{{ form.category.vars.id }}" class="form-label"><small>{{ 'aircraftForm.category_label'|trans({}, 'aircraft') }} :</small></label>
                    {{ form_widget(form.category, {'attr': {'class': 'form-select select-element'}}) }}
                </div>
            </div>
            <div class="my-3 col-md-6">
                <div class="col-12">
                    <label for="{{ form.aircraftManufacturer.vars.id }}" class="form-label"><small>{{ 'aircraftForm.manufacturer_label'|trans({}, 'aircraft') }} :</small></label>
                    {{ form_widget(form.aircraftManufacturer, {'attr': {'class': 'form-select select-element'}}) }}
                </div>
            </div>
            <div class="my-3 col-md-6">
                <div class="col-12">
                    <label for="{{ form.registrationCountry.vars.id }}" class="form-label"><small>{{ 'aircraftForm.registration_country_label'|trans({}, 'aircraft') }} :</small></label>
                    {{ form_widget(form.registrationCountry, {'attr': {'class': 'form-select select-element'}}) }}
                </div>
            </div>
            <div class="my-3 col-md-6">
                <div class="col-12">
                    <label for="{{ form.model.vars.id }}" class="form-label"><small>{{ 'aircraftForm.model_label'|trans({}, 'aircraft') }} :</small></label>
                    {{ form_widget(form.model, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="my-3 col-md-6">
                <div class="col-12">
                    <label for="{{ form.serialNumber.vars.id }}" class="form-label"><small>{{ 'aircraftForm.serial_number_label'|trans({}, 'aircraft') }} :</small></label>
                    {{ form_widget(form.serialNumber, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="my-3 col-md-6">
                <div class="col-12">
                    <label for="{{ form.totalHours.vars.id }}" class="form-label"><small>{{ 'aircraftForm.total_hours_label'|trans({}, 'aircraft') }} :</small></label>
                    {{ form_widget(form.totalHours, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="my-3 col-md-6">
                <div class="col-12">
                    <label for="{{ form.price.vars.id }}" class="form-label"><small>{{ 'aircraftForm.price_label'|trans({}, 'aircraft') }} :</small></label>
                    {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="my-3 col-md-6">
                <div class="col-12">
                    <label for="{{ form.yearOfManufacture.vars.id }}" class="form-label"><small>{{ 'aircraftForm.year_of_manufacture_label'|trans({}, 'aircraft') }} :</small></label>
                    {{ form_widget(form.yearOfManufacture, {'attr': {'class': 'form-select select-element'}}) }}
                </div>
            </div>
            <div class="my-3 col-md-6">
                <div class="col-12">
                    <label for="{{ form.status.vars.id }}" class="form-label"><small>{{ 'aircraftForm.status_label'|trans({}, 'aircraft') }} :</small></label>
                    {{ form_widget(form.status, {'attr': {'class': 'form-select select-element'}}) }}
                </div>
            </div>

            <div class="my-3 col-md-6">
                <div class="col-12">
                    <label for="{{ form.serviceEntryDate.vars.id }}" class="form-label"><small>{{ 'aircraftForm.service_entry_date_label'|trans({}, 'aircraft') }} :</small></label>
                    {{ form_widget(form.serviceEntryDate, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="my-3 col-md-6">
                <div class="col-12">
                    <label for="{{ form.usageType.vars.id }}" class="form-label"><small>{{ 'aircraftForm.usage_type_label'|trans({}, 'aircraft') }} :</small></label>
                    {{ form_widget(form.usageType, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="my-3 col-md-6">
                <div class="col-12">
                    <label for="{{ form.country.vars.id }}" class="form-label"><small>{{ 'aircraftForm.country_label'|trans({}, 'aircraft') }} :</small></label>
                    {{ form_widget(form.country, {'attr': {'class': 'form-select select-element'}}) }}
                </div>
            </div>
            <div class="my-3 col-md-6">
                <div class="col-12">
                    <label for="{{ form.city.vars.id }}" class="form-label"><small>{{ 'aircraftForm.city_label'|trans({}, 'aircraft') }} :</small></label>
                    {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="my-3 col-md-12">
                <div class="col-12">
                    <label for="{{ form.description.vars.id }}" class="form-label"><small>{{ 'aircraftForm.description_label'|trans({}, 'aircraft') }} :</small></label>
                    {{ form_widget(form.description, {'attr': {'class': 'form-control ckeditor'}}) }}
                </div>
            </div>

            <div class="my-3 col-md-12">
                <div class="col-12">
                    <div class="mt-3">
                        {% block button_submit %}
                            <button type="submit" class="btn btn-primary">{{ 'aircraftForm.submit_button'|trans({}, 'aircraft') }}</button>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>

{{ form_end(form) }}
