{% extends 'backend/base.html.twig' %}

{% block main %}
    <main id="main" class="main">

        <section class="section dashboard">
            {% block main_content %}
                <div class="row">

                    <!-- Left side columns -->

                    <div class="col-lg-12">
                        {% block sideColumns %}
                            <div class="row">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                {% set firstItemNumber = (users.currentPageNumber - 1) * users.itemNumberPerPage + 1 %}
                                                {% set lastItemNumber = firstItemNumber + users.items|length - 1 %}
                                                <h5 class="card-title">
                                                    <small>
                                                        {{ 'user.list_verified'|trans }} ({{ firstItemNumber }} - {{ lastItemNumber }} {{ 'user.from_to_total'|trans({'%first%': firstItemNumber, '%last%': lastItemNumber, '%total%': users.totalItemCount}) }})
                                                    </small>
                                                </h5>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="card-title">
                                                    <form class="search-form d-flex align-items-center" method="POST" action="{{ path('app_user_index_verify') }}">
                                                        <div class="input-group input-group-sm mb-3">
                                                            <input type="search" class="form-control" name="search" placeholder="{{ 'user.search_placeholder'|trans }}" aria-label="{{ 'user.search_placeholder'|trans }}" aria-describedby="user-recherche">
                                                            <button class="btn border border-gray-400" type="submit" id="user-recherche">
                                                                <i class="bi bi-search"></i>
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">{{ 'user.action'|trans }}</th>
                                                <th scope="col">{{ 'user.username'|trans }}</th>
                                                <th scope="col">{{ 'user.full_name'|trans }}</th>
                                                <th scope="col">{{ 'user.email'|trans }}</th>
                                                <th scope="col">{{ 'user.phone'|trans }}</th>
                                                <th scope="col">{{ 'user.registration_date'|trans }}</th>
                                                <th scope="col">{{ 'user.role'|trans }}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for user in users %}
                                                <tr>
                                                    <td class="gap-2">
                                                        <a href="{{ path('admin_view_user_profile', {'id': user.id, 'page': 'ads'}) }}" class="ms-2" title="{{ 'user.view_profile'|trans }}">
                                                            <i class="bi bi-eye-fill"></i>
                                                        </a>
                                                        <a href="{{ path('user_profile_luck', {'id': user.id}) }}" class="ms-2" title="{{ 'user.lock_unlock'|trans }}">
                                                            {% if user.IsVerified %}
                                                                <i class="bi bi-unlock-fill"></i>
                                                            {% else %}
                                                                <i class="bi bi-lock-fill"></i>
                                                            {% endif %}
                                                        </a>
                                                    </td>
                                                    <td>{{ user.pseudo }}</td>
                                                    <td>{{ user.firstname }}</td>
                                                    <td>{{ user.email }}</td>
                                                    <td>{{ user.telephone }}</td>
                                                    <td>{{ user.createAt | date('d-m-y') }}</td>
                                                    <td>{% for role in user.roles %} {{ role }} {% endfor %}</td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="7">{{ 'user.no_users'|trans }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>

                                        <div class="pagination">
                                            {{ knp_pagination_render(users) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endblock %}
                    </div><!-- End Left side columns -->


                </div>
            {% endblock %}
        </section>






    </main>
{% endblock %}





