

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">{{ aircraft.yearOfManufacture }} {{ aircraft.aircraftManufacturer.name }} {{ aircraft.model }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
            <div class="container">
                {{ form_start(contactForm, {'attr': {'class': 'needs-validation'}}) }}

                <div class="mb-3 d-none">
                    {{ form_row(contactForm.aircraft, {'attr': {'type': 'hidden'}}) }}
                </div>

                <div class="mb-3">
                    {{ form_label(contactForm.firstName, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(contactForm.firstName, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(contactForm.firstName) }}
                </div>

                <div class="mb-3">
                    {{ form_label(contactForm.email, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(contactForm.email, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(contactForm.email) }}
                </div>

                <div class="mb-3">
                    {{ form_label(contactForm.phone, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(contactForm.phone, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(contactForm.phone) }}
                </div>

                <div class="mb-3">
                    {{ form_label(contactForm.content, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(contactForm.content, {'attr': {'class': 'ckeditor form-control', 'rows': '5'}}) }}
                    {{ form_errors(contactForm.content) }}
                </div>



                <button type="submit" class="btn text-white" style="background-color: #1A0B8C;">
                    {{ 'form.submit'|trans }}
                </button>

                {{ form_end(contactForm) }}
            </div>
    </div>
</div>