{% extends 'base.html.twig' %}

{% block title %}InternContact{% endblock %}

{% block body %}
    <h1>InternContact</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ intern_contact.id }}</td>
            </tr>
            <tr>
                <th>IsRead</th>
                <td>{{ intern_contact.isRead ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ intern_contact.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_intern_contact_index') }}">back to list</a>

    <a href="{{ path('app_intern_contact_edit', {'id': intern_contact.id}) }}">edit</a>

    {{ include('intern_contact/_delete_form.html.twig') }}
{% endblock %}
