
<div class="card-body mt-4">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}


    {{ form_errors(form) }}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="form-floating mb-3">
                    {{ form_widget(form.pseudo, {'attr': {'class': 'form-control'}}) }}
                    <label for="user__pseudo">{{ 'form.pseudo'|trans }}</label>
                </div>
                {{ form_errors(form.pseudo) }}
            </div>

            <div class="form-group">
                <div class="form-floating mb-3">
                    {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
                    <label for="user_firstname">{{ 'form.firstname'|trans }}</label>
                </div>
                {{ form_errors(form.firstname) }}
            </div>

            <div class="form-group">
                <div class="form-floating mb-3">
                    {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
                    <label for="user_telephone">{{ 'form.telephone'|trans }}</label>
                </div>
                {{ form_errors(form.telephone) }}
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <div class="form-floating mb-3">
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    <label for="user_email">{{ 'form.email'|trans }}</label>
                </div>
                {{ form_errors(form.email) }}
            </div>

            <div class="form-group">
                <div class="form-floating mb-3">
                    {{ form_widget(form.country, {'attr': {'class': 'form-select'}}) }}
                    <label for="user_country">{{ 'form.country'|trans }}</label>
                </div>
                {{ form_errors(form.country) }}
            </div>

            <div class="form-group">
                <div class="form-floating mb-3">
                    <small>{{ 'form.registration_date'|trans }}</small>
                    <p>{{ user.createAt | date('d/m/Y H:i') }}</p>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="form-check">
        {{ form_widget(form.acceptTerms, {'attr': {'class': 'form-check-input'}}) }}
        <label class="form-check-label" for="user_acceptTerms">
            <small>{{ 'form.accept_terms'|trans }}</small>
        </label>
    </div>

    <hr>

    <div class="form-check">
        {{ form_widget(form.acceptNewsletter, {'attr': {'class': 'form-check-input'}}) }}
        <label class="form-check-label" for="user_acceptNewsletter">
            <small>{{ 'form.accept_newsletter'|trans }}</small>
        </label>
    </div>

    <hr>

    <div class="form-check">
        {{ form_widget(form.acceptBrokerageContact, {'attr': {'class': 'form-check-input'}}) }}
        <label class="form-check-label" for="user_acceptBrokerageContact">
            <small>{{ 'form.accept_brokerage_contact'|trans }}</small>
        </label>
    </div>

    <hr>

    <button class="btn btn-primary w-100 border-0" type="submit" style="background-color: #07182e;">
        {{ 'form.save'|trans }}
    </button>


    {{ form_end(form) }}

</div>
